{% extends 'base.html' %} {% load static %} {% block page_title %} Games | Distanced DND {% endblock %} {% block content %}

<section class="header">
    <div class="row mb-5">
        <div class="col-12 text-center">
            <h1 class="headliner-text">Games</h1>
        </div>
    </div>
</section>

<section class="combats">
    <div class="row">
        <div class="col-12">
            <a href="{% url 'new_combat_instance' %}" role="button" class="btn btn-warning mb-2" aria-disabled="false">New Combat</a>
            <h4>Combat Instances:</h4>
            {% for c in combats %}
            <p class="combat-link">- <a href="{% url 'enter_combat' c.pk %}">{{ c.name|title }}</a>
                <a href="{% url 'delete_combat' c.pk %}" class="delete-combat"><i class="far fa-trash-alt"></i></a>
            </p>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}