{% extends 'base.html' %} {% load static %} {% block page_title %} Sheets | Distanced DND {% endblock %} {% block content %}

<section class="header">
    <div class="row mb-5">
        <div class="col-12 text-center">
            <h1 class="headliner-text">Sheets</h1>
        </div>
    </div>
</section>


<section class="sheets">
    <div class="row">
        <div class="col-12">
            <a href="{% url 'add_base' %}" role="button" class="btn btn-success" aria-disabled="false">Add Sheet</a>
            <h4>Sheets:</h4>
            {% for sheet in sheets %}
            <p>- {{ sheet }}</p>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}