{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %} {% block page_title %} New Game Sheet | Distanced DND {% endblock %} {% block content %}

<section class="button-nav">
    <div class="row mb-5">
        <div class="col-12">
            <a href="{% url 'enter_game' this_game.pk %}" role="button" class="btn btn-warning" aria-disabled="false">Back</a>
        </div>
    </div>
</section>

<div class="row mb-3">
    <div class="col-12 text-center">
        <h3>New Sheet</h3>
    </div>
</div>

<form role="form" method="post" id="new_game_sheet" action="{% url 'add_game_sheet' this_game.pk %}">
    <div class="form-group body-text">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
                {{ sheet_form.base|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
                {{ sheet_form.current_hit_points|as_crispy_field }}
            </div>
            <div class="form-group col-md-12 mb-0">
                {{ sheet_form.enemy|as_crispy_field }}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12 text-center">
                <input class="btn btn-success" id="sumbit_game_sheet" name="commit" type="submit" value="Add To Game">
            </div>
        </div>
        <br>
    </div>
</form>


{% endblock %}