{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %} {% block page_title %} {{ this_combat }} | Distanced DND {% endblock %} {% block content %}

<section class="button-nav">
    <div class="row mb-5">
        <div class="col-12">
            <a href="{% url 'game_index' %}" role="button" class="btn btn-warning" aria-disabled="false">Back</a>
        </div>
    </div>
</section>

<section class="game-header">
    <div class="row">
        <div class="col-12 text-center">
            <h1>{{ this_game.name|title }}</h1>
            <h5 class="mb-2">DM: {{ this_game.dm }}</h5>
        </div>
    </div>
</section>

{% if this_game.dm == user.profile %}
<section class="dm-tools mb-3">
    <div class="row text-center">
        <div class="col-md-3">
            <a href="{% url 'add_game_sheet' this_game.pk %}" role="button" class="btn btn-success" aria-disabled="false">Add Sheet</a>
        </div>
    </div>
</section>

<section class="game-sheets">
    <div class="row">
        <div class="col-12">
            <h4>Sheets:</h4>
        </div>
    </div>
    <div class="row text-center">
        {% for c in game_sheets %}
        <div class="col-md-4 col-12">
            <div class="card mb-5">
                <div class="card-body">
                    <h5 class="card-title card-ally">{{ c.base.name|title }}</h5>
                    <div class="row">
                        <div class="col-6">
                            <p class="card-text">HP</br>{{ c.current_hit_points }}/{{ c.base.max_hit_points }}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <a href="{% url 'delete_game_sheet' c.pk %}" role="button" class="btn btn-danger mb-2" aria-disabled="false">Delete</a>
                        </div>
                        <div class="col-6">
                            <a href="{% url 'edit_game_sheet' c.pk %}" role="button" class="btn btn-warning mb-2" aria-disabled="false">Edit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endif %} {% endblock %}