{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %} {% block page_title %} {{ this_combat }} | Distanced DND {% endblock %} {% block content %}

<section class="button-nav">
    <div class="row mb-5">
        <div class="col-12">
            <a href="{% url 'game_index' %}" role="button" class="btn btn-warning" aria-disabled="false">Back</a>
        </div>
    </div>
</section>

<section class="game-header">
    <div class="row">
        <div class="col-12 text-center">
            <h1>{{ this_game.name|title }}</h1>
            <h5 class="mb-2">DM: {{ this_game.dm }}</h5>
        </div>
    </div>
</section>

{% if this_game.dm == user.profile %}
<section class="dm-tools mb-3">
    <div class="row text-center">
        <div class="col-md-3">
            <a href="{% url 'add_game_sheet' this_game.pk %}" role="button" class="btn btn-success" aria-disabled="false">Add Sheet</a>
        </div>
    </div>
</section>

{% else %}

<section class="player-tools mb-3">
    <div class="row text-center">
        <div class="col-md-3">
            <a href="{% url 'add_own_sheet' this_game.pk %}" role="button" class="btn btn-success" aria-disabled="false">Add Sheet</a>
        </div>
    </div>
</section>

{% endif %}

<section class="sheets">
    <div class="row">
        <div class="col-12">
            <h4>Sheets:</h4>
            {{ forloop.counter0.str_mod }}
        </div>
    </div>
    <div class="row text-center">
        {% for c in game_sheets %}
        <div class="col-md-4 col-12">
            <div class="card mb-5">
                <div class="card-body">
                    <h5 class="card-title card-ally mb-0">{{ c.base.name|title }} <span class="small"> - {{ c.base.created_by }}</span></h5>
                    <p class="level-text">Level {{ c.base.level }}</p>
                    {% if c.base.created_by == user.profile %}
                    <div class="row">
                        <div class="col-12">
                            <p class="card-text mb-2">Hit Points: {{ c.current_hit_points }}/{{ c.base.max_hit_points }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <p class="mb-0">Strengh</p>
                            <h5 class="str-mod mb-0"></h5>
                            <span class="str-score">{{ c.base.strengh }}</span>
                        </div>
                        <div class="col-6">
                            <p class="mb-0">Dexterity</p>
                            <h5 class="dex-mod mb-0"></h5>
                            <span class="dex-score">{{ c.base.dexterity }}</span>
                        </div>
                        <div class="col-6">
                            <p class="mb-0">Constitution</p>
                            <h5 class="con-mod mb-0"></h5>
                            <span class="con-score">{{ c.base.constitution }}</span>
                        </div>
                        <div class="col-6">
                            <p class="mb-0">Intelligence</p>
                            <h5 class="int-mod mb-0"></h5>
                            <span class="int-score">{{ c.base.intelligence }}</span>
                        </div>
                        <div class="col-6">
                            <p class="mb-0">Wisdom</p>
                            <h5 class="wis-mod mb-0"></h5>
                            <span class="wis-score">{{ c.base.wisdom }}</span>
                        </div>
                        <div class="col-6">
                            <p class="mb-0">Charisma</p>
                            <h5 class="cha-mod mb-0"></h5>
                            <span class="cha-score">{{ c.base.charisma }}</span>
                        </div>
                    </div>
                    {% endif %}
                    <hr> {% if this_game.dm == user.profile %}
                    <div class="row">
                        <div class="col-6">
                            <a href="{% url 'delete_game_sheet' c.pk %}" role="button" class="btn btn-danger mb-2" aria-disabled="false">Delete</a>
                        </div>
                        <div class="col-6">
                            <a href="{% url 'edit_game_sheet' c.pk %}" role="button" class="btn btn-warning mb-2" aria-disabled="false">Edit</a>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}