{% extends 'base.html' %} {% load static %} {% block page_title %} Games | Distanced DND {% endblock %} {% block content %}

<section class="header">
    <div class="row mb-5">
        <div class="col-12 text-center">
            <h1 class="headliner-text">Games</h1>
        </div>
    </div>
</section>

<section class="games-index">
    <div class="row mb-3">
        <div class="col-12">
            <a href="{% url 'new_game_instance' %}" role="button" class="btn btn-success mb-2" aria-disabled="false">Start New Game</a>
            <h4>Games:</h4>
            {% for g in games %}
            <p class="combat-link">- <a href="{% url 'enter_game' g.pk %}">{{ g.name|title }}</a>
                <a href="{% url 'delete_game' g.pk %}" class="delete-combat"><i class="far fa-trash-alt"></i></a>
            </p>
            {% endfor %}
        </div>
    </div>
</section>


{% endblock %}