@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/* Background */

.bg {
    background-color: #f4f4f4;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}


/* Navbar */

.nav-bg {
    background-color: #292038;
}

.nav-bg a {
    color: #9E999B;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.nav-bg a:hover {
    color: #f4f4f4;
}

.nav-button {
    color: #f4f4f4;
}

.navbar-toggler {
    outline: none;
}

.logged-in {
    color: #f4f4f4;
    margin: 8px 2px;
}


/* Fonts */

.headliner-text {
    font-weight: 700;
    font-size: 2.75rem;
}


/* Lists */

.sheet-list {
    list-style-type: none;
    padding-left: 20px;
}

.sheet-list-item {
    font-size: 20px;
    padding-bottom: 0.40rem;
}

.sheet-list-item a {
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    text-decoration: none;
}

.sheet-list-item a:hover {
    color: #359468;
}

.sheet-list-single {
    color: black;
}

.sheet-list-edit {
    font-size: 75%;
    color: #a4bd16;
}

.sheet-list-delete {
    font-size: 75%;
    padding-left: 2.5px;
    color: #c90909;
}


/* Combat */

.combat-link a {
    color: black;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    text-decoration: none;
}

.combat-link a:hover {
    color: #359468;
}

.this-turn {
    border: 1.75px solid #359468;
}

.card-ally {
    color: #359468;
}

.card-enemy {
    color: #c90909;
}


/* Combat Models */

.target-list {
    display: contents;
}


/* Admin/Profile */

.table {
    background-color: #d2d2d2;
}

tr {
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}